body{
    font-family: 'Roboto', sans-serif;
}

.image{
    display: flex;
    justify-content: center;
    position: relative;
}

img{
    max-width: 1000px;
}

.arrow-box img{
    height: 40px;
}

.arrow-right{
    transform: rotate(0.5turn);
}

.arrow-box{
    background-color: ghostwhite;
    padding: 40px;
    display: flex;
    align-items: center;
}

.text-box{
    position: absolute;
    bottom: 0;
    width: 1000px;
    background-color: rgb(0,0,0,0.4);
    color: white;
}

.text{
    padding: 0 30px;
}